
*.deb
Makefile
*.dylib
.theos/obj/debug/.stamp
*.o
.theos/packages/com.theo78825.spotifyfullscreenartworkui-1.0.5
.theos/last_package
.theos/fakeroot
.theos/build_session
.theos/_/Library/MobileSubstrate/DynamicLibraries/SpotifyFullScreenArtworkUI.plist
Makefile
