Package: com.theo78825.spotifyfullscreenartworkui
Name: SpotifyFullScreenArtworkUI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Makes the Spotify Artwork Fullscreen
Maintainer: theo78825
Author: theo78825
Section: Tweaks
Version: 1.0.5-18+debug
Installed-Size: 148
